[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg = "*"
psycopg-binary = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
alembic = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
